<section class="skills">
  <div class="skills__container">
    <h2 class="skills__heading">Technical skills</h2>
    <p class="skills__description">
      My passion is delivering a great experience both for developers and
      end-users. That is why my focus lies in application development, with a
      heavy influence on lean and agile development. As such I have great
      experience working with B2B and a normal 3 layer architecture.
    </p>
    <ul class="skills__technologies">
      <li class="skills__technology" *ngFor="let technology of technologies">
        {{ technology }}
      </li>
    </ul>
    <h3 class="skills__used-tools">Frequently used tools</h3>
    <div class="skills__lists">
      <div class="skills__frameworks">
        <h4 class="skills__frameworks-title">Frameworks</h4>
        <ul class="skills__frameworks-list">
          <li class="skills__framework-list-item" *ngFor="let f of frameworks">
            {{ f }}
          </li>
        </ul>
      </div>
      <div class="skills__software">
        <h4 class="skills__software-title">Software</h4>
        <ul class="skills__software-list">
          <li class="skills__software-list-item" *ngFor="let s of software">
            {{ s }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
