<div class="about">
  <div class="about__container">
    <h2 class="about__title">About me</h2>
    <div class="about__matter">
      <img
        class="about__photo"
        [lazyLoad]="meImage"
        [defaultImage]="mePlaceholder"
        alt="Profile picture of Kasper J. Hermansen"
      />
      <div class="about__description">
        <div class="about__content">
          <p>
            Software Engineer - I have a passion for building and managing
            applications if they are low-level or high-level. I have the
            philosophy that every challenge be solved, by applying the right
            strategy and tool.
          </p>
          <p>
            I don't subscribe to a favorite language, I believe in working with
            the right tool for the job, and I, therefore, love to learn and
            expand my toolbox.
          </p>
          <p>
            I have learned that to breed a proper software culture, teamwork and
            competitiveness are highly important. We can't make something
            significant by ourselves, but together, we can do anything. This is
            why I love DevOps culture.
          </p>
        </div>
        <ul class="about__links">
          <li class="about__sm-item">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </li>
          <li class="about__sm-item">
            <fa-icon [icon]="faGithub"></fa-icon>
          </li>
          <li class="about__sm-item">
            <fa-icon [icon]="faLinkedIn"></fa-icon>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
