<div class="about">
  <div class="about__container">
    <h2 class="about__title">About me</h2>
    <div class="about__matter">
      <img
        class="about__photo"
        [lazyLoad]="meImage"
        alt="Profile picture of Kasper J. Hermansen"
      />
      <div class="about__description">
        <div class="about__content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
            accusantium vero ipsum modi libero recusandae molestiae explicabo
            sit nam alias?
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto
            libero officiis asperiores molestias alias eius aliquam vero rerum
            omnis ut.
          </p>
        </div>
        <ul class="about__links">
          <li class="about__sm-item">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </li>
          <li class="about__sm-item">
            <fa-icon [icon]="faGithub"></fa-icon>
          </li>
          <li class="about__sm-item">
            <fa-icon [icon]="faLinkedIn"></fa-icon>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
