<nav class="navbar">
  <div *ngIf="static" class="navbar__hidden"></div>
  <div
    class="navbar__content"
    [ngClass]="{ 'navbar__content--static': static }"
  >
    <div class="navbar__container">
      <img class="navbar__logo" [lazyLoad]="icon" alt="logo" />
      <ul *ngIf="!menu" class="navbar__links navbar__links--desktop">
        <li class="navbar__link_item" (click)="about()">About</li>
        <li class="navbar__link_item" (click)="skills()">Skills</li>
        <li class="navbar__link_item" (click)="experience()">Experience</li>
      </ul>
      <app-menu-button
        *ngIf="menu"
        class="navbar__links navbar__links--mobile"
      ></app-menu-button>
    </div>
  </div>
</nav>
