<nav class="navbar">
  <div
    class="navbar__content"
    [ngClass]="{ 'navbar__content--static': static }"
  >
    <div class="navbar__container">
      <img class="navbar__logo" src="/assets/Vector.svg" alt="logo" />
      <ul *ngIf="!menu" class="navbar__links navbar__links--desktop">
        <li class="navbar__link_item">About</li>
        <li class="navbar__link_item">Projects</li>
        <li class="navbar__link_item">Contact</li>
      </ul>
      <app-menu-button
        *ngIf="menu"
        class="navbar__links navbar__links--mobile"
      ></app-menu-button>
    </div>
  </div>
</nav>
