<section class="contact">
  <div class="contact__container">
    <h2 class="contact__title">
      Contact
    </h2>
    <form class="contact__form" [formGroup]="contactForm">
      <div class="contact__first-name">
        <label>First name</label>
        <input type="text" fromControlName="firstName" />
      </div>
      <div class="contact__last-name">
        <label>Last name</label>
        <input type="text" fromControlName="lastName" />
      </div>
      <div class="contact__email">
        <label>Email</label>
        <input type="email" fromControlName="email" />
      </div>
      <div class="contact__message">
        <label>Message</label>
        <textarea fromControlName="message" rows="6"> </textarea>
      </div>
      <div class="contact__submit">
        <button>Send message</button>
      </div>
    </form>
  </div>
</section>
