<section class="contact">
  <div class="contact__container">
    <h2 class="contact__title">
      Contact
    </h2>
    <form
      class="contact__form"
      [formGroup]="contactForm"
      (ngSubmit)="submitContactForm()"
    >
      <div class="contact__first-name">
        <label>First name</label>
        <input
          type="text"
          formControlName="firstName"
          autocomplete="given-name"
          required
        />
      </div>
      <div class="contact__last-name">
        <label>Last name</label>
        <input
          type="text"
          formControlName="lastName"
          autocomplete="family-name"
          required
        />
      </div>
      <div class="contact__email">
        <label>Email</label>
        <input
          type="email"
          formControlName="email"
          autocomplete="email"
          required
        />
      </div>
      <div class="contact__message">
        <label>Message</label>
        <textarea formControlName="message" rows="6" required> </textarea>
      </div>
      <div class="contact__submit">
        <button type="submit" [disabled]="!contactForm.valid">
          Send message
        </button>
      </div>
    </form>
  </div>
</section>
